span.ct_symbol, span.ct_address {
  position: relative !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  width: fit-content !important;
  border: none !important;
}
